extends layout
block head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  link(rel='stylesheet', href='/stylesheets/admin.css')

block content
  div id="content_div"
    p Add a question to the survey!
    form(action="/questions/create", method="post")
      p Question:
      textarea(name="question_text", rows=10, cols=50)
      p Add multiple choice options:
      div(class="optionField")
        input(type="text", name="option_one", size=50)
        button(id="addoption", form="", onclick="updateOptionFields()") +
      div
      input(type="submit")
    script(type="text/javascript", src="/javascripts/options.js")

    p Questions:
    ul
      each question in questions
        li
          = question.questionString
          ul
            each option in question.Options
              li
                = option.optionString

    p Responses:
    ul
      each response in responses
        if response && response.Question && response.Option
          li
            = response.Question.questionString
            &nbsp;
            = response.Option.optionString
