extends layout
block head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  link(rel='stylesheet', href='/stylesheets/admin.css')

block content
  div(id="content_div")
    h2 Add a question to the survey!
    form(action="/questions/create", method="post")
      h4 Question:
      textarea(name="question_text", rows=4, cols=50)
      h4 Add multiple choice options:
      div(class="optionField")
        input(type="text", name="option_one", size=50)
        button(id="addoption", form="", onclick="updateOptionFields()") +
      div(class="submitHolder")
        input(type="submit")
    script(type="text/javascript", src="/javascripts/options.js")

    h2 Results
    div
      each result in Object.keys(results)
        p
          span
            =results[result].questionString
            &nbsp
            |(Total Number of responses:
            =results[result].total
            |)

        if results[result].options
          each opt in results[result].options
            div(class="result_option" style="width:"+ opt.num_responses*100/results[result].total + "%;")
              =opt.num_responses
              &nbsp
              =opt.optionString
