extends layout
block head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  link(rel='stylesheet', href='/stylesheets/admin.css')

block content
  div(id="content_div")
    h2 Add a question to the survey!
    form(action="/questions/create", method="post")
      h4 Question:
      textarea(name="question_text", rows=4, cols=50)
      h4 Add multiple choice options:
      div(class="optionField")
        input(type="text", name="option_one", size=50)
        button(id="addoption", form="", onclick="updateOptionFields()") +
      div(class="submitHolder")
        input(type="submit")
    script(type="text/javascript", src="/javascripts/options.js")

    h2 Questions
      each question in questions
        div(class='question')
          if question.questionString
            = question.questionString
          else
            [Empty Question]
          if question.Options.length
            each option in question.Options
              div(class='option')
                = option.optionString
          else
            div(class='option')
              [No Options]

    h2 Responses
      each response in responses
        if response && response.Question && response.Option
          div(class="question")
            = response.Question.questionString
            div(class="option")
              = response.Option.optionString
