extends layout
block head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  link(rel='stylesheet', href='/stylesheets/admin.css')

block content
  div(id="content_div")
    div(class="h2") Add a question to the survey!
    form(action="/questions/create", method="post")
      div(class="h4") Question
      textarea(name="question_text", rows=4, cols=50)
      div(class="h4") Add multiple choice options
      div(class="optionField")
        input(type="text", name="option_one", size=50)
        button(id="addoption", type="button", onclick="updateOptionFields()") +
      div(class="submitHolder")
        input(type="submit", id="submitButton")
    script(type="text/javascript", src="/javascripts/options.js")

    div(class="h2") &nbsp
    div(class="h2") Results
    div
      each result in Object.keys(results)
        p
          span(class="question")
            =results[result].questionString
          div(class="subtext")
            |(
            =results[result].total
            |&nbspresponses)


        if results[result].options
          each opt in results[result].options
            div(class="result_option" style="width:"+ opt.num_responses*100/results[result].total + "%;")
              =opt.num_responses
              &nbsp
              =opt.optionString
