body {
  padding: 50px;
  font: 1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
	font-size: 1.5em;
}


#loginSubmit {
	margin: 10px auto;
	font-size: 1.5em;
	padding:6px;
	font-weight: bold;
	float: right;
}

.optionLabel {
	width: 90%;
	max-width: 300px;
	margin-bottom: 0.5em;
	padding: 2px;
	background: #DDDDDD;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;

}

#adminlink{
	font-size: 0.7em;
	float: right;
}

.selected {
	background: #AAAAAA;
}

.optionLabel:hover {
	background: #AAAAAA;
}


#submitHolder {
	width: 200px;
}

label .login {
	font-size:1.5em;
	width: 200px;
	display: inline-block;
    float: left;
    clear: left;
    text-align: right;
}

label {
	display: inline-block;
}

.button {
    padding: 4px 8px;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
